:root {
  --background: #ebe8e8;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ebe8e8;
    --foreground: #ededed;
  }
}

html {
  font-size: 62.5%;
}

html,
body {
  max-width: 100vw;
}

body {
  color: #333;
  background: var(--background);
  font-family: 'Noto Sans JP', 'YuGothic', '游ゴシック体',
    'Hiragino Kaku Gothic ProN', 'Hiragino Sans', '游ゴシック Medium',
    'Yu Gothic Medium', '游ゴシック', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
img {
  width: 100%;
  vertical-align: bottom;
}
ul,
ol,
li {
  list-style: none;
}

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
div,
address,
iframe,
canvas,
hr,
textarea {
  display: block;
}

textarea {
  resize: vertical;
  overflow: hidden;
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0;
}

input,
button,
select {
  vertical-align: middle;
  border-radius: 0;
  box-sizing: border-box;
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  cursor: pointer;
  white-space: normal;
  outline: 0;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
}
button,
input[type='reset'],
input[type='button'],
input[type='submit'],
input[type='checkbox'],
input[type='radio'],
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}
select::-ms-expand {
  display: none;
}
table {
  border-collapse: collapse;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
